{{ partial "head.html" . }}

<main class="index">
<div class="intext">
	<h1>{{$.Title}}</h1>
	<p>
	The Pao Inclusiveness Working Group is a student-led working group at <a href="https://ykpaoschool.cn/">YK Pao School</a>. We aim to fight against racism, sexism, homophobia, tranphobia, and other forms of discrimination and bigotry, on campus and beyond.
	</p>
	<p>
	School is not in session yet... this site will see more development as the school year starts.
	</p>
</div>
<aside>
	<object class="logo" type="image/svg+xml" data="logo.svg" width="148" >
		<img src="logo.png" alt="The Pao Inclusiveness Working Group's Logo. A YK Pao tree but the leaves take colors from pride flags." />
	</object>
	<div class="text-center">
		<a href="about">about</a>
	</div>
	<dl class="external-links">
		<dt>email</dt>
		<dd><a href="mailto:piwg@andrewyu.org">piwg@andrewyu.org</a></dd>
		<dt>source</dt>
		<dd><a href="https://git.andrewyu.org/andrew/piwg.git">https://git.andrewyu.org/andrew/piwg.git</a></dd>
	</dl>
</aside>
</main>

