{{ partial "head.html" . }}

<main class="index">
  <div class="intext">
    <h1>{{$.Title}}</h1>

    <p>
    The Pao Inclusiveness Working Group (PIWG) is a student-led group at <a href="https://ykpaoschool.cn">YK Pao School</a> that fights against discrimmination and prejudice against monorities on campus.
    </p>

  </div>

  <aside>
    <img
      src="/logo.svg"
      alt="The Pao Inclusiveness Working Group's Logo. A YK Pao tree but the leaves take colors from pride flags."
      width="148"  />

    <div class="text-center">
	    <a href="about">about</a>
    </div>

    <dl class="external-links">
      <dt>email</dt>
      <dd><a href="mailto:piwg@andrewyu.org">piwg@andrewyu.org</a></dd>
      <dt>source</dt>
      <dd><a href="https://git.andrewyu.org/andrew/piwg.git">https://git.andrewyu.org/andrew/piwg.git</a></dd>
    </dl>
  </aside>
</main>

